@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Manrope', sans-serif;
  width: 100vw;
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (-ms-ime-align: auto) or (-ms-accelerator: true) {
  /* Microsoft Edge */
  html {
    overflow-x: hidden;
  }
}

@supports (-webkit-appearance: none) {
  /* Google Chrome and Opera */
  html {
    overflow-x: hidden;
  }
}
