@import './base.css';
@import './fonts.css';
@import "vue-toastification/dist/index.css";
@import "./toast.css";


.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 24px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
